@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import 'theme.css';

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


main {
  padding-left: 20%;
  padding-right: 20%;
  flex: 1 0 auto;
  margin: 20px 0;
}

form {
  margin: 20px 0;
}

body {
  margin: 0;
  font-size: 16px;
}

input {
  display: block;
  width: 200px;
  height: 28px;
  line-height: 28px;
  padding: 0 15px;
  margin: 10px 0;
  border: 1px #000000 solid;
  border-radius: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3233;
}

button {
  height: 28px;
  line-height: 28px;
  background-color: #000000;
  border-radius: 20px;
  border-width: 0px;
  font-weight: 295;
  color: rgb(255, 255, 255);
  padding: 0 15px;
  cursor: pointer;
  width: 200px;
}

@media screen and (max-width: 1400px) {
  main {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media screen and (max-width: 750px) {
  main {
    padding-left: 0;
    padding-right: 0;
  }
}